.reviews {
    width: 100%;
}

.slider-review {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0;
    width: 100%;
    gap: 15px;
    overflow: auto;
}

.review {
    height: 300px;
    border: 1px solid black;
    overflow: auto;
}

.review .user {
    padding: 10px;
}

.user-data {
    display: flex;
    flex-direction: row;
}

.user-data .profile-img {
    width: 90px;
}

.user-data .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.buttons-review {
    display: none;
}

@media (max-width:500px) {

    .slider-review {
        position: relative;
        height: 600px;
    }

    .review {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .review.current-review {
        opacity: 1;
    }

    .review .user {
        position: absolute;
        opacity: 0;
        padding: 15px 0 15px 15px;
        width: 100%;
        color: #333;
    }

    .review .user h1 {
        margin-bottom: 10px;
    }

    .review .user p {
        padding-right: 10px;
        line-height: normal;
    }

    .review.current-review .user {
        opacity: 1;
        transition: all 0.7s ease-in-out 0.3s;
    }

    .buttons-review {
        display: block;
    }

    .buttons-review button#next-review {
        position: absolute;
        top: 60%;
        right: 15px;
    }

    .buttons-review button#prev-review {
        position: absolute;
        top: 60%;
        left: 15px;
    }

    .buttons-review button {
        padding: 13px 15px;
        border: 2px solid #333;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        opacity: 0.3;
        background-color: transparent;
        color: #333;
    }

    .buttons-review button:hover {
        opacity: 1;
        background-color: #333;
        color: #FFF;
    }
}