header {
    background-color: var(--color-black);
    width: 100%;
    display: block;
    padding: 0.7rem 1.7rem;
    display: flex;
    justify-content: space-around
  }
  
  header a {
    font-size: 1.1rem;
    color :var(--color-green);
  }

  header div h1{
    font-size: 1.2rem;
    color :var(--color-green);
  }
