{
  "env": { "browser": true, "es2021": true, "node": true },
  "extends": [
    "next/core-web-vitals",
    "prettier",
    "prettier/react",
    "eslint:recommended",
    "plugin:react/jsx-runtime",
    "plugin:react/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": { "jsx": true },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "prettier/prettier": "error",
    "space-before-function-paren": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
