<footer class="footer">
    <div class="container">
        <div class="align-items-center row">
            <div class="col-lg-12">
                <div class="newsletter-bx wow slideInUp">
                    <div class="row">
                        <div class=" col-lg-12 col-md-6 col-xl-5">
                            <h3>Assine a nossa newsletter</h3>
                        </div>
                        <div class="col-md-6 col-xl-7">
                            <form>
                                <div class="new-email-bx">
                                    <input value="" type="email" placeholder="Endereço de e-mail" />
                                    <button type="submit">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/img/logo.svg" alt="Logo" />
            </div>
            <div class="col-sm-6 text-center text-sm-end">
                <div class="social-icon">
                    <a href="#"><img src="../../../assets/img/nav-icon1.svg" alt="" /></a>
                    <a href="#"><img src="../../../assets/img/nav-icon2.svg" alt="" /></a>
                    <a href="#"><img src="../../../assets/img/nav-icon3.svg" alt="" /></a>
                </div>
                <p class="footer-text">Copyright 2022. Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>