* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-green: #7fe034;
  --color-white: #fff;

  --alive: #6fff00;
}

