<header>
    <nav class="scrolled">
        <div class="container">
            <a href="/">
                <img src="logo" alt="Logo" />
            </a>
            <div aria-controls="basic-navbar-nav">
                <span class="navbar-toggler-icon"></span>
            </div>
            <div id="basic-navbar-nav">
                <div class="ms-auto">
                    <a href="#home" class="home navbar-link">Home</a>
                    <a href="#skills" class="skills navbar-link">Skills</a>
                    <a href="#projects" class="projects navbar-link">Projects</a>
                </div>
                <span class="navbar-text">
                    <div class="social-icon">
                        <a href="#"><img src="navIcon1" alt="" /></a>
                        <a href="#"><img src="navIcon2" alt="" /></a>
                        <a href="#"><img src="navIcon3" alt="" /></a>
                    </div>
                    <a to='#connect'>
                        <button class="vvd"><span>Let’s Connect</span></button>
                    </a>
                </span>
            </div>
        </div>
    </nav>
</header>