@import '../../../assets/styles/color.scss';

body {
  background: $dark-color;
}

.positon-pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: $white-color;
}
