<app-animation-lottie [splashAnimationType]="1" [duration]="2" [animationDuration]="0.9"></app-animation-lottie>
<app-navbar></app-navbar>
<app-slide-carousel></app-slide-carousel>

<body>
  <main>
    <section id="home">
      <app-pokemon-list></app-pokemon-list>
    </section>
    <section id="work">
      <app-pokedex class="positon-pokedex"></app-pokedex>
      <form [formGroup]="newsletter">
        <app-form [newsletter]="newsletter"></app-form>
      </form>
    </section>
  </main>
</body>
<section id="projects">
  <app-footer> </app-footer>
</section>
