.swiper-pagination {
  .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--white);
    opacity: 1;
    transition: all 0.3s;

    &-active {
      opacity: 1;
      background: var(--color-primary);
    }
  }

  @media (max-width: 768px) {
    position: relative;
    top: -48px;

    .swiper-pagination-bullet {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--white);
  &::after {
    font-size: 20px;
  }
}

input {
  height: 4.2rem;
  padding: 1.6rem;
  background: transparent;
  border-radius: 2rem;
  border: 1px solid var(--color-primary);
  color: var(--white);
  font-size: 1.6rem;
}

.bgModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--black);
  width: 469px;
  height: 255px;
  border-left: 14px solid #e9ff00;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  p {
    max-width: 38rem;
  }
}
