.swiper-pagination {
  .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--white);
    opacity: 1;
    transition: all 0.3s;

    &-active {
      opacity: 1;
      background: var(--color-primary);
    }
  }

  @media (max-width: 768px) {
    position: relative;
    top: -48px;

    .swiper-pagination-bullet {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--white);
  &::after {
    font-size: 20px;
  }
}

input {
  height: 4.2rem;
  padding: 1.6rem;
  background: transparent;
  border-radius: 2rem;
  border: 1px solid var(--color-primary);
  color: var(--white);
  font-size: 1.6rem;
}
