@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

body{
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.swiper-button-next, .swiper-button-prev {
    background-color: #8EC648;
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 45px;
    border: 1px solid #F6FF81
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1.1rem;
    font-weight: 600;
    color: #03120b;
}
@tailwind base;
@tailwind components;
@tailwind utilities;