@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem; 
}

:root {
    --main-color: #e984e4;
    --second-color: #ebeff2;
    --text-color: #212bb5;
    --bg-color: #fff;
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s linear;
    font-size: 1.5rem;
}

header.shadow{
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.navbar {
    display: flex;
    column-gap: 2.4rem;
}

.navbar a {
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--main-color);
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    column-gap: 0.2rem;
    color: var(--text-color);
}

.logo .bx{
    font-size: 1.5rem;
    color: var(--main-color);
}

/* Home */

section{
    padding: 50px 100px;
} 

.home {
    width: 100%;
    min-height: 50vh;
    background: var(--bg-color);
}

.swiper {
    width: 100%;
    height: 70vh;
 
  }

.home-swiper {
    margin-top: 2rem;
}

.home-swiper .slide {
    position: relative;
    overflow: hidden;
}

.home-swiper .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Produto*/
.heading {
    text-align: center;
}

.heading h2 {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
}

.heading span{
    padding: 0.5rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
}

.produto-container {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
}

.produto-container .box{
    width: 100%;
    
    position: relative;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

img{
    width: 100%;
}

.produto-container .box .content h2{
    font-size: 1.2rem;
    font-weight: 600;
}

.produto-container .box .content .stars .bx{
    color: var(--main-color);
}

.produto-container .box .bx-cart-alt{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 24px;
    background: var(--main-color);
    color: var(--bg-color);
}

.produto-container .box .bx-cart-alt:hover{
    background: var(--text-color);
}

.produto-container .box:hover img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: 0.5s;
}

/* Avaliações*/

.avaliacao-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.avaliacao-container .avaliacao-slide{
   
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.avaliacao-container .avaliacao-slide img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    padding-bottom: 1rem;
}

.avaliacao-container .avaliacao-slide .stars .bx{
    color: var(--main-color);
}

.avaliacao-container .avaliacao-slide p{
    font-size: 0.938rem;
    font-style: italic;
    margin: 0.5rem 0.5rem;
}

.avaliacao-container .avaliacao-slide h2{
    font-size: 1.2rem;
    font-weight: 600;
}

.avaliacao-container .avaliacao-slide:hover{
    background: var(--text-color);
    color: var(--main-color);
}

/* Newsletter*/

.newsletter-form {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.newsletter-form-img {
    width: 30%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-form-img img {
    width: 50%;
    border-radius: 10%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-group label {
    color: var(--text-color);
    font-weight: 700;

}

.form-group input{
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    outline: none;
    margin-bottom: 1rem;

}

.form-group input::-webkit-input-placeholder {
    text-align: center;
}

.btn {
    background: var(--text-color);
    color: var(--second-color);
    font-weight: 500;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}

/* Modal*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 132, 228, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
}

/* Open/close modal*/
.open-modal {
    visibility: visible;
    z-index: 10;
}
.modal-container {
    background: var(--text-color);
    color: var(--second-color);
    border-radius: 5px;
    width: 90vw;
    height: 20vh;
    max-width: 620px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: transparent;
    color: #c13131 ;
    cursor: pointer;
    transition: all 0.3s linear;
}

.close-btn:hover {
    color: #9b2626;
    transform: scale(1.2);
}

/* Footer*/
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.footer-box {
    text-align: center;
}

.footer-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color);
}

.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
    color: var(--main-color);
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: center;
    margin-top: 20px;
}

.social a .bx{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.5rem;
}

.social a .bx:hover{
    cursor: pointer;
    background: var(--main-color);
    color: var(--bg-color);
}

.contatos {
    display: flex;
    flex-direction: column;
    font-size: 0.938rem;
    font-weight: 500;
}

.contatos li {
    margin-bottom: 10px;
}
.contatos li a {
    color: var(--text-color);
}

.contatos a .bx {
    color: var(--main-color);
    font-size: 1rem;
    margin-right: 5px;
}

.contatos a .bx:hover{
    cursor: pointer;
    color: var(--text-color);
}