@import '../../../assets/styles/color.scss';

.modal-body {
  background: $dark-grey;
  border-left: 4px solid $title-color;
  padding-left: 0.2em;
  border-radius: 5px;

  &__button {
    display: flex;
    justify-content: flex-end;
  }
  button {
    color: $white-color;
    outline: none;
    background: transparent;
  }
  &__text {
    color: $white-color;
    text-align: center;
  }
  &__icon {
    font-size: 84px;
    color: $title-color;
  }
  &__title {
    font-size: 30px;
  }
  &__description {
    font-size: 18px;
    padding: 0 24px;
    margin: 15px 0;
  }
}
