* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

.menu {
  background-color: rgba(30, 32, 36, 0.5);
  overflow: hidden;
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu img {
  margin-left: 40px;
}

nav {
  display: flex;
  width: auto;
  gap: 30px;
  margin-right: 40px;
}
nav a {
  cursor: pointer;
}

nav a,
span {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
nav a:hover,
.burguer:hover {
  color: #6495ed;
}

.burguer {
  cursor: pointer;
  display: none;
}

.banner {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

h2 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 45px;
  color: #ffffff;
}

h6 {
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
}

.gradient {
  width: 100%;
  height: 80px;
  margin-top: -5px;
  background: #232526;
  background: -webkit-linear-gradient(
    to bottom,
    rgba(30, 32, 36, 0.5),
    #000000
  );
  background: linear-gradient(to bottom, rgba(30, 32, 36, 0.5), #000000);
}

.space-images,
.space-trivia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.planets {
  height: 100%;
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 30px 0;
}

.planet,
.planet img {
  width: 300px;
  height: 400px;
  border-radius: 40px 40px 40px 40px;
}

.trivia {
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.curiosity {
  width: 350px;
  height: 150px;
  display: flex;
  align-items: row;
}

.curiosity img {
  width: 40px;
  height: 40px;
  margin-top: -20px;
}
.curiosity div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact h2 {
  margin-left: 80px;
}

.form {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.form button {
  display: flex;
  align-items: center;
  padding: 21px 20px;
  width: 72px;
  height: 42px;
  background: #6495ed;
  opacity: 0.5;
  border-radius: 20px;
  cursor: pointer;
}
.form input {
  display: flex;
  align-items: center;
  width: 250px;
  height: 42px;
  border-color: #6495ed;
  border-radius: 20px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
}
footer {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  margin-bottom: 30px;
}

footer h6 {
  color: #000000;
}
@media (max-width: 1024px) {
  nav {
    display: none;
  }

  .planets {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 780px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact h2 {
    margin-left: 0;
  }
  .form {
    flex-direction: column;
    gap: 10px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 780px) {
  .planets {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 430px) {
  .curiosity {
    width: 250px;
    height: auto;
    display: flex;
    align-items: row;
  }
  h2 {
    font-size: 28px;
  }
  span,
  h6 {
    font-size: 12px;
  }
  .planet,
  .planet img {
    width: 250px;
    height: 300px;
    border-radius: 40px 40px 40px 40px;
  }
  .gradient, .menu, footer{
    height: 60px;
  }
  .menu img{
    height: 30px;
    width: 30px;
  }
}
