<section class="skill" id="card-slide">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="skill-bx wow zoomIn">
                    <div class="">
                        <h2>Espaçonaves</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /> Lorem Ipsum
                            has
                            been the industry's standard dummy text.</p>
                    </div>
                    <div class="owl-carousel owl-theme skill-slider row elemHide">
                        <div class="item col-4 ">
                            <div class="card-slide-img">
                                <div class="slide-img p-1 ">
                                    <img [src]="images[0]" class="img-slide" alt="Image" style="width: 220px;" />
                                </div>
                            </div>
                        </div>
                        <div class="item col-4 ">
                            <div class="card-slide-img">
                                <div class="slide-img p-1 ">
                                    <img [src]="images[1]" alt="Image" style="width: 220px;" />
                                </div>
                            </div>
                        </div>
                        <div class="item col-4 ">
                            <div class="card-slide-img">
                                <div class="slide-img p-1 ">
                                    <img [src]="images[2]" alt="Image" style="width: 240px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elemHideSlide ">
                        <div class="slider">
                            <div class="slides">
                                <input type="radio" name="radio-btn" id="radio1">
                                <input type="radio" name="radio-btn" id="radio2">
                                <input type="radio" name="radio-btn" id="radio3">

                                <div class="slide-img-carrosel first p-1">
                                    <img [src]="images[0]" class="img-slide" alt="Image" />
                                </div>
                                <div class="slide-img-carrosel p-1">
                                    <img [src]="images[1]" class="img-slide" alt="Image" />
                                </div>
                                <div class="slide-img-carrosel p-1">
                                    <img [src]="images[2]" class="img-slide" alt="Image" />
                                </div>

                                <div class="navigation-auto">
                                    <div class="auto-btn1"></div>
                                    <div class="auto-btn2"></div>
                                    <div class="auto-btn3"></div>
                                </div>
                            </div>
                            <div class="manual-navigation">

                                <label for="radio1" class="manual-btn"></label>
                                <label for="radio2" class="manual-btn"></label>
                                <label for="radio3" class="manual-btn"></label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <img class="background-image-left" src="../../../assets/img/color-sharp.png" alt="Image" />
</section>