.slide{
    max-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  @media(min-width: 1200px){
    .slide {
      padding: 3rem;
    }
  }
  
  .slide img{
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 50px -1px var(--shadow);
    border-radius: 4px;
    user-select: none;
  }
  
  .grabbing {
    cursor: grabbing;
  }
  
  .grabbing .slide img{
    transform: scale(0.9);
    box-shadow: 5px 5px 40px -1px var(--shadow);
  }
  

  .skill {
    padding: 0 0 50px 0;
    position: relative;
  }
  .skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }

  .img-slide{
   
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .elemHideSlide {
    display: none;
  }

  .card-slide-img{
    border-radius: 15px;
    width: 230px;
    height: 230px;
    border: #FFF 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-img{ 
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media(max-width: 1200px) {
    .elemHide {
      display: none;
    }

    .elemHideSlide {
      display: block;
    }

  }

  .slider{
    margin: 0 auto;
    overflow: hidden;
    width: 270px;
    height: 270px;
  }

  .slides {
    display: flex;
    width: 400%;
    height: 270px;
  }
  
  .slides input {
    display: none;
  }

  .slide-img-carrosel{
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: #FFF 1px solid;
  }

  .slide-img-carrosel img {
    width: 260px;

  }

  .manual-navigation{
    display: flex;
    position: absolute;
    width: 260px;
    justify-content: center;
    margin-top: -40px;
  }

  .manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .50s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background: #FFF;
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -25%;
  }

  #radio3:checked ~ .first{
    margin-left: -50%;
  }

  .navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
  }

  .navigation-auto{
   position: absolute;
    width: 260px;
    margin-top: 230px;
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }

  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
  }

  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
  }

  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
  }

  