<section class="skill" id="card-slide">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="skill-bx wow zoomIn">
                    <h2>Espaçonaves</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /> Lorem Ipsum has
                        been the industry's standard dummy text.</p>
                    <div class="owl-carousel owl-theme skill-slider row">
                        <div class="item col-4 ">
                            <div class="card">
                                <img [src]="images[0]" class="img-slide" alt="Image" />
                                <h5>Web Development</h5>
                            </div>
                        </div>
                        <div class="item col-4 ">
                            <div class="card">
                                <img [src]="images[1]" class="img-slide" alt="Image" />
                                <h5>Brand Identity</h5>
                            </div>
                        </div>
                        <div class="item col-4">
                            <div class="card">
                                <img [src]="images[2]" class="img-slide" alt="Image" />
                                <h5>Logo Design</h5>
                            </div>
                        </div>
                    </div>
                    <!--<div class="isVisible">
                        <ngb-carousel *ngIf="images">
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[0]" alt="Space Nave" />
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[1]" alt="Space Nave" />
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[2]" alt="Space Nave" />
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <img class="background-image-left" src="../../../assets/img/color-sharp.png" alt="Image" />
</section>