.header {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(10px);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      max-width: 23.4rem;
      img {
        filter: drop-shadow(0px 0px 8px #000000);
      }
    }

    .menuDesktop {
      display: flex;
      gap: 3.2rem;
      font-size: 1.6rem;
    }

    .menuMobile,
    .closeMenu {
      display: none;
      cursor: pointer;
      background: transparent;
      padding: 1rem;
    }
  }

  @media (max-width: 768px) {
    .container {
      .menuDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--black);
        background-image: url("/icon-music.svg");
        background-repeat: no-repeat;
        background-position-x: -4.8rem;
        background-position-y: 4.8rem;
        padding-top: 3.2rem;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        opacity: 0;
        visibility: hidden;
        top: -20rem;
        transition: all 0.3s;

        &.show {
          opacity: 1;
          visibility: visible;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4.8rem;

          li,
          a {
            font-size: 3.2rem;
            font-weight: 800;
          }

          .closeMenu {
            z-index: 2;
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
          }
        }
      }

      // .menuMobile {
      //   filter: drop-shadow(0px 0px 8px #000000);
      // }

      .menuMobile,
      .closeMenu {
        display: block;
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      .logo {
        max-width: 20rem;
      }
    }
  }
}
