<section class="banner" id="home">
    <div class="container">
        <div class="aligh-items-center row">
            <div class="col-xs-12 col-md-6 col-7">
                <div>
                    <div class="isVisible">
                        <span class="tagline">Welcome to my Portfolio</span>
                        <h1>Hi! I'm Judy <span class="txt-rotate" dataPeriod="1000"
                                data-rotate='[ "Web Developer", "Web Designer", "UI/UX Designer" ]'><span
                                    class="wrap">text</span></span></h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book.</p>
                        <button onClick="()=> console.log('connect')">Let’s Connect
                            
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-5">
                <div>
                    <div class="isVisible">
                        <img src="../../../assets/img/header-img.svg" alt="Header Img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>