<section class="banner" id="home">
    <div class="container">
        <div class="aligh-items-center row">
            <div class="col-xs-12 col-md-6 col-12 mb-3">
                <div>
                    <div class="isVisible">
                        <span class="tagline">Bem-vindo ao Stars Wars</span>
                        <h1 class="fs-1">Stars Wars</h1>
                        <p class="fs-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book.</p>
                        <button type="button" >Vamos Nessa!</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-12 mt-3">
                <div>
                    <div class="isVisible">
                        <ngb-carousel *ngIf="images">
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[0]" alt="Space Nave" />
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[1]" alt="Space Nave" />
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[2]" alt="Space Nave" />
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>