.Contact {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      width: 100%;
      max-width: 40.6rem;
    }

    form {
      display: flex;
      gap: 1rem;

      input {
        width: 24.4rem;
      }

      .error {
        color: #ff0000;
        margin-top: 0.8rem;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.2rem;
        height: 4.2rem;
        background: var(--color-primary);
        border-radius: 2rem;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 0;
    .container {
      flex-direction: column;

      h2 {
        text-align: center;
        margin-bottom: 3.2rem;
      }

      form {
        flex-direction: column;
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      h2 {
        width: 100%;
        max-width: 32rem;
      }

      form {
        input {
          width: 100%;
        }
      }
    }
  }
}
