@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/color.scss';

.listagem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.25rem 0;
  margin-bottom: 90px;
}

.form-position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__email {
    margin: 25px 25px;
  }
}
.validation-error {
  color: $red-color;
  margin-top: 0.4em;
  border-left: 3px solid $red-color;
  padding-left: 0.2em;
  position: relative;
}

.input {
  font-size: 1.5em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;
    &:focus + span {
      opacity: 1;
      transform: scale(1);
    }
  }

  span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
  }
}

input {
  font-family: inherit;
  line-height: inherit;
  color: $input-text-color;
  min-width: 12em;
}

::placeholder {
  color: $dark-color;
}

html::after {
  content: '';
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 50px;
}
