<mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item>
    <img src="../../../assets/image/01.jpg" class="d-block w-100" alt="..." />
    <div class="carousel-caption d-none d-md-block">
      <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../../assets/image/01.jpg" class="d-block w-100" alt="..." />
    <div class="carousel-caption d-none d-md-block">
      <h5>Second slide label</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../../assets/image/01.jpg" class="d-block w-100" alt="..." />
    <div class="carousel-caption d-none d-md-block">
      <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
