.Footer {
  .container-fluid {
    width: 100%;
    padding: 4rem 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a {
      font-size: 2.2rem;
      color: var(--black);
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .copy {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25.8rem;
      height: 4.7rem;
      background: var(--color-primary);
      margin-top: -1.6rem;

      a {
        font-weight: 800;
        font-size: 2.4rem;
        color: var(--black);
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    .container-fluid {
      a {
        font-size: 2rem;
      }

      .container {
        flex-direction: column;
        gap: 3.2rem;
        align-items: flex-start;
      }
    }

    .container {
      .copy {
        a {
          font-size: 2.2rem;
        }
      }
    }
  }
}
