.app-splash {
  background: #121210;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  transition: left 1s;
  &__size {
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
