@import '../../../assets/styles/color.scss';
@import '../../../assets/styles/font.scss';
@import '../../../assets/styles/effect.scss';

$padding: 1.25rem;

.listagem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3.25rem 0;

  .pokemon {
    position: relative;
    display: flex;
    margin-bottom: 1;
    padding: $padding;
  }
}

/*===== CARD =====*/
.container {
  display: flex;
  flex-wrap: wrap;
  padding: $padding 0;
  justify-content: center;
}

.card {
  width: 310px;
  height: 380px;
  background-image: linear-gradient(to right top, #051937, #092b5d, #153e85, #2752af, #3e65da);
  padding: 4rem 2rem 0;
  color: $white-color;
  overflow-y: hidden;
  margin-bottom: 30px;
  align-items: center;
  cursor: pointer;

  &__img {
    position: absolute;
    max-width: 150px;
    height: auto;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
  }

  &__data {
    transform: translateY(13.2rem);
    text-align: center;
  }

  &__title {
    font-size: $h1-font-size;
    color: $title-color;
    margin-bottom: 0.5rem;

    h2 {
      font-size: 1.5rem;
      // font-style: italic;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 0.7rem;
    }
  }
  &__preci {
    font-size: $h2-font-size;
    font-weight: 500;
    margin-bottom: 1.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: contents;

    ul {
      display: flex;
      flex-direction: column;
      li {
        background: #fff;
        font-size: 1rem;
        font-weight: bold;
        align-items: center;

        color: black;
        width: 5rem;
        height: 1.25rem;
        margin-bottom: 10px;
      }
    }
  }
  &__button {
    display: block;
    width: max-content;
    padding: 1.125rem 2rem;
    background-color: $first-color;
    color: $white-color;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: 0.2s;
    opacity: 0;

    &:hover {
      box-shadow: 0 18px 40px -12px rgba(245, 252, 246, 0.8);
    }
  }

  &__img,
  &__data,
  &__title,
  &__preci,
  &__description {
    transition: 0.5s;
  }
}
