@import './assets/styles/reset.scss';
@import './assets/styles/scroll-bar.scss';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';


html {
  font-family: 'Roboto', sans-serif;
  background: black;
}

main {
  max-width: 100rem;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

