@import './assets/styles/reset.scss';

html {
  font-family: 'Roboto', sans-serif;
  background: #121210;
}

main {
  max-width: 100rem;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
