a {
  text-decoration: none;
}
.rainbow-button {
  width: calc(150px + 6px);
  height: calc(40px + 6px);
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.rainbow-button:after {
  content: attr(alt);
  width: 150px;
  height: 40px;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
