$first-color: #3e65da;
$input-text-color: #2e3750;
$title-color: #ffe100;
$white-color: #e9eaec;
$dark-white: #f6f7f8;
$dark-color: #000;
$dark-grey: #121210;
$grey-clear: #302d2d;
$dark-color-lighten: #f2f5ff;
$red-color: #cc0000;
$red-clear: #ef4144;
