.footer {
  position: fixed;
  bottom: -0;
  background-color: #3e65da;
  width: 100%;
  height: 90px;
  color: black;
  align-items: center;
  display: flex;
  z-index: 2;
  &__position {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
  }
  img {
    width: 50px;
  }
}
